

#imagefit{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
#s1 {
  margin-left: 45%;
  margin-bottom: 20px;
  font-weight: bold;
}
#s2 {
  margin-left: 45%;
  margin-bottom: 20px;
  font-weight: bold;
}
#s3 {
  margin-left: 45%;
  margin-bottom: 20px;
  font-weight: bold;
}
#s4 {
  margin-left: 45%;
  margin-bottom: 20px;
  font-weight: bold;
}
#s5 {
  margin-left: 45%;
  margin-bottom: 20px;
  font-weight: bold;
}
#s6 {
  margin-left: 45%;
  margin-bottom: 20px;
}
#s7 {
  margin-left: 45%;
  margin-bottom: 20px;
}
#s8 {
  margin-left: 45%;
  margin-bottom: 20px;
}

#s10 {
  margin-left: 45%;
  margin-bottom: 20px;
}

#s12{
  margin-left: 45%;
  margin-bottom: 20px;
}
#s15{
  margin-left: 45%;
  margin-bottom: 20px;
}
#s11{
  margin-left: 45%;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically (optional here since it's just one line) */
  /* //width: 100px; Take full width to ensure centering works over the entire parent width */
  /* margin-top: 20px; Adjust top margin as needed */
}

button {
  background-color: #804864;
  color: white; /* Just an example to improve visibility */
  padding: 10px 20px; /* Optional: Adjust padding as needed for button sizing */
  border: none; /* Optional: Removes default border */
  cursor: pointer; /* Optional: Changes cursor to pointer on hover */
}


p{
  text-align: center;
  font-size: x-large;
}